<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/quizPage.css">
    <title>Quiz</title>
</head>
<body>
    <div class="container">
        <h1><%= exam[0].test_titre %></h1> <!-- Affiche le titre de l'examen en haut de la page -->

        <!-- Ajouter le champ caché pour envoyer le testId -->
        <form action="/STUDENT/student/submit-quiz" method="POST">
            <input type="hidden" name="testId" value="<%= exam[0].id_test %>">
            
        
            <% let currentQuestion = ''; let questionNumber = 1; %>
            <% exam.forEach((item) => { %>
                <% if (item.texteQuestion !== currentQuestion) { %>
                    <% if (currentQuestion !== '') { %></div><% } %>
                    
                    <!-- Début d'une nouvelle question -->
                    <div class="question">
                        <p><%= questionNumber++ %> - <%= item.texteQuestion %></p>
                        <% currentQuestion = item.texteQuestion; %>
                <% } %>
        
                <!-- Afficher les réponses sous forme de cases à cocher -->
                <label class="option">
                    <input type="checkbox" id="q<%= item.id_question %>-<%= item.texteReponse %>" name="q<%= item.id_question %>[]"
                        value="<%= item.texteReponse %>">
                    <%= item.texteReponse %>
                </label>
            <% }); %>
            </div> <!-- Fermer le dernier div.question -->
        
            <div class="btn">
                <button type="submit">Submit Answers</button>
            </div>
        </form>
        
    </div>
</body>
</html>
